<h2 class="screen-align">Addtypes</h2>
<div id="template-it1i" class="row">
    <div id="template-iwuq" class="cell">
        <label id="template-ir1p" class="label">Name</label>
        <input id="template-iowk" [(ngModel)]="types.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-iqo8" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-il49" class="cell">
        <label id="template-izdx" class="label">Description</label>
        <input id="template-i2wh" [(ngModel)]="types.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>