<h2 class="screen-align">Addseverity</h2>
<div id="template-is96" class="row">
    <div id="template-ioa5" class="cell">
        <label id="template-iq6p" class="label">Name</label>
        <input id="template-ie9u" [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i1lp" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-itdp" class="cell">
        <label id="template-igna" class="label">Description</label>
        <input id="template-ihyj" [(ngModel)]="severity.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>